/*!CK:2681030502!*//*1412649028,*/

.sp_5Bzd0XFcdm4{background-image:url(/rsrc.php/v2/yg/r/pd7f9hNvXsY.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sp_5Bzd0XFcdm4.sx_31a561{width:16px;height:16px;background-position:0 -33px}.sp_5Bzd0XFcdm4.sx_1dd0e2{background-position:0 0}

#bootloader_UZ_xv { height: 42px; }
.bootloader_UZ_xv { display:block !important; }