/*!CK:84386729!*//*1415118311,*/

.sp_Ixmf7PwHSey{background-image:url(/rsrc.php/v2/yN/r/RQdAkPl4eam.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_Ixmf7PwHSey.sx_f2cf4a{background-position:0 0}.sp_Ixmf7PwHSey.sx_48025f{background-position:0 -25px}

#bootloader_LFP7k { height: 42px; }
.bootloader_LFP7k { display:block !important; }