/*!CK:3485753259!*//*1395122592,178154559*/

.lifeEventIcon{margin-bottom:6px}.lifeEventHeader{line-height:16px;text-align:center}.lifeEventSubTitle{font-size:11px;margin:6px 0}.lifeEventSubTitle,.touch .lifeEventSubTitle .mfss{color:#bbb}.lifeEventStory{border-top:1px solid #eee;color:gray;font-size:11px;padding:10px 0 0 0;margin-top:6px;text-align:center}.lifeEventProfile{border-bottom:1px solid #eee;display:block;text-align:left;padding-bottom:10px;margin-bottom:10px}

#bootloader_AmmGA { height: 42px; }
.bootloader_AmmGA { display:block !important; }