/*!CK:3327500674!*//*1415032871,*/

._5ud-{margin-left:auto;margin-right:0}._1aic{min-width:325px}._5ud_{width:100%}.__0y{width:200px}
._3ky{position:relative;text-align:center;z-index:1}._3kz{vertical-align:bottom}
.fbPageBanner{position:relative;z-index:301}.hideBanner .fbPageBanner,.fixedBody .fbPageBanner{display:none}.fbPageBannerInner{margin:auto;max-width:950px;min-width:920px}.sidebarMode .fbPageBannerInner{left:-102px;position:relative}
#mobile_mirror_banner{position:relative;z-index:300}
._59bt{margin-top:5px;text-align:center}._59bu{margin-top:-5px}._5cak{line-height:28px;vertical-align:middle}._5cal{-webkit-border-radius:3px}

#bootloader_x7k8y { height: 42px; }
.bootloader_x7k8y { display:block !important; }