/*!CK:3241142827!*//*1397202256,178183447*/

._4up .fbNubFlyout{width:219px}._4up .xmode_row{line-height:15px;padding:0 10px 2px 10px}._4up .xmode_row_last{border-top:1px solid #e7e7e7;line-height:15px;margin:0 10px 0 10px;padding:5px 0 10px}._4up .xselect{padding:5px 6px}._4up .xselect select{width:100%}._4up .translation_options{padding:8px 0}._4up .xexplain{border-bottom:1px solid #e7e7e7;color:#555;line-height:15px;margin:5px 10px 0 10px;padding-bottom:5px}

#bootloader_02MMV { height: 42px; }
.bootloader_02MMV { display:block !important; }