/*!CK:476066407!*//*1415708346,*/

.sp_gVKBfUBhkK5{background-image:url(/rsrc.php/v2/yN/r/RzxyHtOifun.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_gVKBfUBhkK5.sx_a1f2b0{background-position:0 0}.sp_gVKBfUBhkK5.sx_23c27a{background-position:0 -17px}
.sp_jmuFtEBZxDi{background-image:url(/rsrc.php/v2/yc/r/lwwh-X3jiN1.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_jmuFtEBZxDi.sx_6581f5{background-position:0 0}.sp_jmuFtEBZxDi.sx_829885{background-position:0 -17px}

#bootloader_RacKP { height: 42px; }
.bootloader_RacKP { display:block !important; }